<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="/css/renewal.css" type="text/css">
    <section style="padding: 150px">
        <div>
            <table>
                <tr>
                    <td>
                        <input type="email" name="email" >

                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="email" >
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <footer th:replace="~{footer :: footer}"></footer>
</body>
</html>