<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/img/favifafa.png" type="image/icon">
</head>
<body>
<link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/renewal.css}" type="text/css">
<script src="https://kit.fontawesome.com/93d77b263e.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script th:src="@{/js/renewal.js}"></script>
<div class="wrapper">
    <header th:replace="~{header :: header}"></header>
</div>
<section>
    <h2>LOGIN </h2>
    <p class="service"> 서비스를 사용하려면 로그인을 해주세요.</p>
    <div class="box">
        <form th:action="@{/login}" method="post">
            <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
            <div class="login_box">
                <div class="id_box">
                    <p>이메일을 입력해주세요</p>
                    <input type="email" name="username" placeholder="이메일 입력">
                </div>
                <div class="pass_box">
                    <p>비밀번호를 입력해주세요</p>
                    <input type="password" name="password" placeholder="비밀번호 입력">
                </div>
                <div class="sub_box">
                    <button type="submit">로그인</button>
                </div>
            </div>
        </form>
        <div class="signup_box">
            <button onclick="location.href='/signup'">회원가입</button>
        </div>
    </div>
</section>
<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>